/* CSS by Robynne Asato */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* Skip Link Styles */
.skip-link{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Navigation Styles */
nav label {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: .5rem 13.5rem;
  margin: 1rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
}

nav label:hover {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  border: var(--news-flash) 1px solid;
}

nav ul {
  visibility: hidden;
  position: absolute;
  transition: var(--transition);
  opacity: 0;
  background-color: var(--news-flash);
  list-style: none;
  transition: var(--transition);
  margin: 1rem;
}

nav:hover ul {
  visibility: visible;
  opacity: 1;
  background-color: var(--blue-bulletin);
  transition: var(--transition);
}

nav ul li a {
  display: block;
  color: var(--watchdog-white);
  text-decoration: none;
  padding: .75rem 11rem;
  font-family: var(--font-body);
  text-transform: uppercase;
  margin: 2px;
  margin-top: 0;
  text-align: center;
  background-color: var(--news-flash);
}

nav ul li a:hover {
  background-color: var(--blue-bulletin);
  transition: var(--transition);
}

/* ///ADD/// Global Layout Styles */
html {
  background-color: var(--watchdog-white);
}

main {
  margin: 1rem;
}

header {
  background-color: var(--blue-bulletin);
}

#about {
  margin: 1rem;
}

blockquote {
  text-align: center;
  margin: 1.5rem;
}

#water, #voter {
  background-color: var(--news-flash);
  margin: 1rem;
  box-shadow: var(--shadow);
  padding: 1rem;
  font-family: var(--font-body);
}

#breaking-news section:hover, #featured-articles section:hover {
  transform: scale(1.05);
  transition: var(--transition);
}

video {
  margin: .75rem;
  width: 95%;
  height: auto;
}

#breaking-news h3 {
  border-bottom: 1px solid var(--watchdog-white);
  padding-bottom: .25rem;
}

#whistleblower, #unequal, #invisible, #redlined, #climate, #teaching, #food, #mental, #economy, #algorithm, #maze, #cameras {
  border: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
  margin: 1rem;
  padding: 1rem;
}

#featured-articles h3 {
  border-bottom: 1px solid var(--story-subtitle);
  padding-bottom: .25rem;
}

#featured-articles section {
  border: 1px solid var(--story-subtitle);
}

form {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  display: grid;
  padding: 1rem;
  gap: .25rem;
  box-shadow: var(--shadow);
  margin: 1rem 2rem 2rem 1rem;
}

input {
  height: 30px;
}

fieldset {
  border: 1px solid var(--blue-bulletin);
  margin-top: .5rem;
}

legend {
  margin-top: .5rem;
  margin-left: 1rem;
}

fieldset div {
  margin: .25rem;
}

input[type="checkbox"] {
  accent-color: var(--blue-bulletin);
  width: 20px;
  height: 20px;
}

#submit {
  background-color: var(--blue-bulletin);
  padding: .5rem;
  margin: 1rem;
  height: 3rem;
}

#submit:hover {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  transition: var(--transition);
}

footer {
  background-color: var(--blue-bulletin);
  padding: 2rem;
}

#social h2 {
  padding-bottom: 1rem;
}

#social a {
  background-color: var(--news-flash);
  padding: .5rem;
  text-decoration: none;
  color: var(--watchdog-white);
  margin: .5rem;
  display: inline-flex;
}

#social a:hover {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  transition: var(--transition);
}

footer p {
  margin-top: 3rem;
  text-align: center;
}

/* ///ADD/// Global Text Styles */
h1, h2, h3 {
  font-family: var(--font-heading);
  line-height: normal;
}

h1 {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 50px;
  font-weight: 100;
}

h2 {
  padding-bottom: .5rem;
  font-size: 25px;
  font-weight: 300;
}

h3 {
  padding-bottom: .25rem;
  font-size: 20px;
  font-weight: 200;
}

p, a {
  font-family: var(--font-body);
  font-weight: 300;
  line-height: normal;
}

header {
  color: var(--watchdog-white);
}

header p {
  padding-left: 2rem;
  font-size: 18px;
  font-family: var(--font-heading);
}

#about h2 {
  padding-top: 2rem;
}

blockquote {
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font-heading);
}

#water, #voter {
  color: var(--watchdog-white);
}

#breaking-news h2 {
  padding-bottom: 1rem;
}

#breaking-news p {
  padding-top: .5rem;
}

#featured-articles p {
  padding-top: .5rem;
}

#alerts {
  padding-top: 1rem;
}

form {
  color: var(--watchdog-white);
  font-family: var(--font-body);
}

fieldset div {
  padding: .25rem;
}

legend {
  text-transform: uppercase;
}

#submit {
  color: var(--watchdog-white);
  text-transform: uppercase;
  font-size: 18px;
}

footer {
  color: var(--watchdog-white);
}

#social a {
  text-transform: uppercase;
  font-weight: 500;
}
/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  .menu-button, #menu-toggle {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    position: relative;
    visibility: visible;
    opacity: 1;
    background-color: var(--blue-bulletin);
    padding-bottom: 2rem;
  }

  nav ul li a {
    padding: .25rem .25rem;
  }

  nav ul li a:hover {
    background-color: var(--blue-bulletin);
    border: 1px solid var(--news-flash);
    transition: var(--transition);
  }

  #breaking-news, #featured-articles, form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #breaking-news h2, #featured-articles h2 {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  #name {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  label[for="phone"] {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
  }

  #phone {
    grid-column-start: 2;
    grid-column-end: -1;
  }

  fieldset {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #submit {
    grid-column-start: 1;
    grid-column-end: -1;
  }

}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  main {
    margin: 8em;
    justify-content: center;
  }

  h1 {
    justify-content: center;
    margin-left: 2em;
  }

  .tagline {
    margin-left: 6.5rem;
  }

  nav {
    margin-left: 8rem;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
  }
}

@media (prefers-color-scheme: light) {
  body {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
nav:has(#menu-toggle:checked) {
  background-color: var(--blue-bulletin);
}

nav:has(#menu-toggle:checked) ul {
  display: flex;
  flex-direction: column;
  background-color: var(--news-flash);
}